@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}
/* Shared style */
.text-primary{
    color: #FD6E0A;
}
.secondary-bg{
    background-color: #FFF8F3;
}
.dark-2{
    color: #474747;
}
.dark-1{
    color: #181818;
}
.dark-3{
    color: #757575;
}
.btn-primary{
    background-color: #FD6E0A;
    font-weight: bold;
    font-size: 20px;
    color: white;
    padding: 18px 35px;
    border-radius: 5px;
    border: none;
}
.section-title{
    font-size: 35px;
    font-weight: bold;
}
.section-description{
    font-size: 18px;
    font-weight: 400;
}
/* header */
.header{
    background-image: url(../images/developer.png) , url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}
/* Nav style */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
nav ul li{
    list-style: none;
    margin-right: 51px;
}
nav li a{
    text-decoration: none;
}
nav ul{
    display: flex;
    align-items: center;
}
/* banner styles */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 38px 0 226px;
}
.banner-greetings{
    font-size: 45px;
    font-weight: 600;
}
.banner-title{
    font-weight: bold;
    font-size: 85px;
}
.banner-description{
    font-size: 18px;
    font-weight: 400;
}
.banner-pic{
    width: 584px;
}
.banner-content{
    max-width: 585px;
}
/* main styles */
main{
    max-width: 1140px;
    margin: 0 auto;
}
/* about styles */
.about{
    border-radius: 10px;
    padding: 130px 155px;
    text-align: center;
    margin-top: 130px;
}
.item-description{
    font-weight: bold;
}
.about-items{
    display: flex;
    justify-content: space-around;
}